<div class="jumbotron">
	<h2>Bienvenido a tu propia Lista de Verificacion!</h2>
	<h3>Manten registro de tus actividades.</h3>
	<%= link_to "Registrarse", new_user_registration_path, class: "btn btn-primary" %>
	<%= link_to "Iniciar Sesion", new_user_session_path, class: "btn btn-primary" %>
</div>